{% extends 'base.html' %}

{% block content %}
    <ul class="media-list">
        {% for article in article_list %}
            <li class="media">
                <h4 class="media-heading">
                    <a href="/{{ username }}/article/{{ article.pk }}">{{ article.title }}</a>
                </h4>
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/media/{{ article.blog.userinfo.avatar }}" alt="..."
                             height="60">
                    </a>
                </div>
                <div class="media-body">
                    {{ article.desc }}
                </div>
                <br>
                <div>
                            <span><a
                                    href="/{{ article.blog.userinfo.username }}/">{{ article.blog.userinfo.username }}</a>
                            </span>
                    <span>发布于&nbsp;&nbsp;{{ article.create_time|date:'Y-m-d' }}&nbsp;&nbsp;</span>
                    <span><span
                            class="glyphicon glyphicon-comment"></span>评论数({{ article.comment_num }})&nbsp;&nbsp;</span>
                    <span><span class="glyphicon glyphicon-thumbs-up"></span>点赞数({{ article.up_num }})</span>
                    <span><a href="#">编辑</a></span>
                </div>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}